body {
    background-image: url(backgnd1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.block {
    
    background-color:skyblue;
    width: 900px;
    height: 500px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

.card {
    background-color:white;
}